.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

body{
	background-color: #383D40;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}

#resourcePickerPage{
	background-color: #F9F9F9;
}

ul{
	margin: 0px;
	list-style: none;
}

li{
	text-decoration: none;
}

a{
	text-decoration: none;
	color: #757575;
}

a:hover{
	text-decoration: none;
	color: #E8554B;
}

h1, h2, h3, h4, h5{
	color: #757575;
}

h1{
	font-size: 26px;
}

#wrapper{
	margin: 0px;
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	overflow: auto;	
}

#login-wrapper{
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7%;
}

/* LOGIN PAGE
   ========================================================================== */

.login-contain{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: #F9F9F9;
}

.login-logo{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.login-pannel{
	padding: 40px;
	padding-bottom: 80px;
}

.login-buttons{
	padding: 8px;
}

.login-form{
	width:94%;
	margin: 0;
	padding: 5px;
}

.login-form li{
	width:100%;
	padding: 8px;
	padding-left: 3px;
}

.login-field {
	width:98%;
	height: 40px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #d3d3d3;
	padding-left: 15px;
}

   
/* MAIN HEADER
   ========================================================================== */

.admin-main-header{
	width:100%;
	height: 60px;
	background-color: #ffffff;
	
}
 
.admin-top-nav-right{
	float: right;
	padding: 20px;
}

.admin-top-nav-right li{
	float:left;
	padding: 8px;
	padding-top: 0px;
}

.admin-top-nav-links{
	background-color:#FFFFFF;
	
}

.admin-top-nav-links li{
	padding-left:15px;
	padding-right: 15px;
	
}

.admin-top-nav-title{
	background-color: #303435;
	top: 0;
	color: #ffffff;
	width: 250px;
	margin:0;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	
	
	
}

#logo-dash{
	margin-left: 25%
}

.admin-top-nav-title h3{
	margin: 0;
	padding: 15px;
	color: #E8554B;
}

.admin-top-nav{
	background-color: #ffffff;
	height: 50px;
	margin-bottom: 5px;
	position: absolute;
}

.admin-top-nav p{
	margin: 0;
}

/* SIDE NAV
   ========================================================================== */
.nav-left-label{
     color: #656a70;
	 font-size: 12px;
	 font-weight: bold;
}


 
.admin-side-nav{
	float: left;
	width: 250px;
	background-color: #383D40;
	min-height: 100vh;
	height: auto;
	padding-top:10px;
}

.admin-side-nav a{
	color: #ffffff;
}

.admin-side-nav-links{
	padding-left: 0px;
}

.admin-side-nav-links li{
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	padding-left: 25px;
}

.nav-left-select{
	
}

.nav-left-select:hover{
	background-color:#42474A;
}

.selected-link{
	border-left: 8px solid #E8554B;
}

.fa-angle-right{
	float: right;
	margin-right: 15px;
}


/* DASHBOARD CONTENT
   ========================================================================== */



.dashboard-main{
	position: absolute;
	background-color:#F9F9F9;
	float: right;
	display: block;
	width: 100%;
	height:100%;
	
	
}

.dashboard-main-content{
	padding-top: 5px;
	margin-left: 250px;
	border-top: 0.5px solid #EDEDED;
	padding-bottom: 25px;
	background-color: #F9F9F9;
	
}

.dashboard-header{
	padding-left: 25px;
	padding-right: 25px;
	height: 50px;
	
}



.dashboard-section{
	background-color: #ffffff;
	margin: 25px;
	margin-bottom: 0;
	padding: 17px;
	border: 0.5px solid #EDEDED;
	overflow: hidden;
}

.dashboard-section-header-right{
	float:right;
}

.dashboard-section-header{
	height: 70px;
}



.dashboard-section-header .button{
	float:left;
}

.dashboard-section-header .button-right{
	float:right;
}

.header-title{
	float:left;
}

.header-title h1{
	margin:0px;
	margin-top: 14px;
}

.header-stats{
	/* float:right; */
	margin:0px;
	text-align: right;
	padding-top: 10px;
}

.header-stats h2{
	margin: 0;
	padding: 0;
	font-size: 22px;
}
.header-stats h4{
	margin: 0;
	padding: 0;
	font-size: 13px;
}

.dashboard-section-footer{
	clear: both;
}

/* RESOURCE LIST
   ========================================================================== */

.resource-list-section{
	overflow:auto;
	
}
   
.resource-pannel{
	float: left;
	margin: 5px;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding:5px;

}

.resource-pannel:hover{
/* background-color: #bdc3c7; */
}

.resource-pannel-image{
	width:180px;
	height:180px;
	overflow: hidden;
	position: relative;
	/* border: 1px solid #EDEDED; */
}

.image-title{
	position: absolute;
	top: 50px;
	left: 5px;
	right:0 ;
	z-index: 20;
	color: #ffffff;
	width:165px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	opacity:0;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.image-title p{
	color: #ffffff;
}

.resource-pannel-image:hover .resource-pannel-image-filter{
	opacity: 0.5
}

.resource-pannel-image:hover .image-title{
	opacity: 1;
}

.resource-pannel-image-filter{
	height:100%;
	width:100%;
	background-color: #000000;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 0;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
	transition: .25s ;
   -moz-transition: .25s ;
   -webkit-transition: .25s ;
}


.resource-pannel-image img {
	margin-top: auto;
	margin-bottom: auto;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}




/* STANDARD TABLE LISTS
   ========================================================================== */
   
.table-list{
	width: 100%;
	border: 1px solid #ddd;
	margin-bottom: 20px;
} 

.table-list th{
	border: 1px solid #ddd;
	border-bottom-width: 2px;
	padding: 10px;
	text-align: left;
	background-color: #ffffff;
}

.table-list td{
	border: 1px solid #ddd;
	padding: 8px;
}

.table-list tr:nth-of-type(even){
	background-color: #f9f9f9;
}

.table-list th:hover{
	background-color:#ffffff;
}

.table-list tr:hover{
	background-color: #f5f5f5;
}

.table-list td:nth-child(2){
	border-right:none;
}

.table-list th:nth-child(2){
	border-right:none;
}

#articleEditTd{
	text-align: right;
	border-left: none;
	border-right: none;
	padding-right: 30px;
	
}


#articleEditTh{
	border-left: none;
	border-right: none;
}




/* BUTTONS
   ========================================================================== */
   
   .button{
	   margin: 8px;
	   color: #ffffff;
	   background-color: #E8554B;
	   padding-left: 20px;
	   padding-right: 20px;
	   padding-top: 4px;
	   padding-bottom: 4px;
	   border-radius: 50px;
	   max-width:120px;
   }
   
   .button-alt{
	   margin: 8px;
	   color: #ffffff;
	   border-color: #E8554B;
	   border-style: solid;
	   border-bottom-width: 2px;
	   padding-left: 20px;
	   padding-right: 20px;
	   padding-top: 4px;
	   padding-bottom: 4px;
	   border-radius: 50px;
	   max-width:110px;
	   
   }
   
    .dashboard-section-header .button{
		margin-left: 30px;
		margin-top: 15px;
   }
   
    .dashboard-section-footer .button{
		margin-left: 0px;
		margin-top: 15px;
   }
   
      .button a{
	   color: #ffffff;
   }
   
   .edit-click{
	   cursor: pointer; 
   }
   
  .submit-button-alt input[type=submit] {
		margin: 8px;
	   color: #E8554B;
	   border-color: #E8554B;
	   background-color: #ffffff;
	   border-style: solid;
	   border-width: 1px;
	   padding-left: 20px;
	   padding-right: 20px;
	   padding-top: 4px;
	   padding-bottom: 4px;
	   border-radius: 50px;
	   max-width:110px;
	   float: left;
	   
}

   input[type=submit] {
	   margin: 8px;

	   color: #ffffff;
	   background-color: #E8554B;
	   padding-left: 20px;
	   padding-right: 20px;
	   padding-top: 4px;
	   padding-bottom: 4px;
	   border: none;
	   border-radius: 50px;
	   max-width:200px;
	   float: left;
}

.login-pannel input[type=submit] {
	float: none;
	width:100%;
	margin: 0px;
	max-width: 800px;
	height: 50px;
	border-radius: 8px;
}

	.button-right{
	   margin: 8px;
	   color: #ffffff;
	   background-color: #E8554B;
	   padding-left: 20px;
	   padding-right: 20px;
	   padding-top: 4px;
	   padding-bottom: 4px;
	   border-radius: 50px;
	   max-width:200px;
	}



   
/* EntryFields
   ========================================================================== */
   
   
   
   .content-entry-field li{
	   margin-bottom: 20px;
   }
   
   .dashboard-main label{
	   float: left;
		width: 150px;
		text-align: left;
	}

   #title{
	   width: 50%;
   }
   
   #summary{
	   width: 60%;
	   height: 60px;
   }
   
   #imageTitle{
	   width: 50%;
   }
   
/* STAUTUS MESSAGES
   ========================================================================== */
	.statusMessage{
		margin-bottom: 20px;
		background-color: #E0EFD8;
		width: 100%;
		padding: 5px;
	}
	
	.statusMessage p{
		margin: 0;
		color: #468848;
		font-weight: bold;
	}
	
	.errorMessage{
		margin-bottom: 20px;
		background-color: #FED2D3;
		width: 100%;
		padding: 5px;
	}
	
	.errorMessage p{
		margin: 0;
		color: #872631;
		font-weight: bold;
	}
	

